main{
    display: flex;
}
header{
    display: flex;
    background-color: darksalmon;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
nav{
    background-color: chocolate;
    width: 225px;
    height: 807px;
    margin: 5px;

}
li{
    margin: 2px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    flex-shrink: 200;
    
}
.rzad{
    border: 5px solid black;
    border-collapse: collapse;  
    width: 30px;
}
.pole{
    border: 2px solid black ;
    width: 30px;
    height: 30px;
}
td{
    text-align: center;
    width: 50px;
    height: 50px;
}
table{
    border-collapse: collapse; 
}
/* .klik{
    margin: 10px;
} */
/* }
#c,#f{
    border-bottom: 4px solid black;
}
#a3,#b3,#c3,#d3,#e3,#f3,#g3,#h3,#i3,#a6,#b6,#c6,#d6,#e6,#f6,#g6,#h6,#i6{
    border-right: 4px solid black;
} */
