.rzad{
    border: 5px solid black;
    border-collapse: collapse;  
}
.pole{
    border: 2px solid black ;
    width: 30px;
    height: 30px;
}
/* }
#c,#f{
    border-bottom: 4px solid black;
}
#a3,#b3,#c3,#d3,#e3,#f3,#g3,#h3,#i3,#a6,#b6,#c6,#d6,#e6,#f6,#g6,#h6,#i6{
    border-right: 4px solid black;
} */
